[build]
  command = "npm run build"
  publish = ".next"

[[redirects]] # Important for API routes
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200  

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
	for = "/*.jpg"
	[headers.values]
	Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
	for = "/*.png"
	[headers.values]
	Cache-Control = "public, max-age=31536000, immutable"